<div class="row">
    <div class="col-md-4 p-4" *ngFor="let employee of employees">
        <div class="card card-employee" (click)="selectedCard(employee._id)">
            <div class="card-header">
                {{employee.name}}
            </div>
            <div class="card-body">
                <p>{{employee.contractTypeName}}</p>
                <p>{{employee.roleId}}</p>
                <p>{{employee.roleName}}</p>
                <p>{{employee.roleDescription}}</p>
                <p>{{employee.hourlySalary}}</p>
                <p>{{employee.monthlySalary}}</p>
            </div>
        </div>
    </div>
</div>