<div class="row" *ngIf="!employee; else main_content">
    <h1>Loading...</h1>
</div>
<ng-template #main_content>
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="updateEmployee(ame, contractTypeName, roleId, roleName, roleDescription, hourlySalary, monthlySalary)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [value]="employee.name" #name>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Contract type name" [value]="employee.contractTypeName" #contractTypeName>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Role id" [value]="employee.roleId" #roleId>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rol name" [value]="employee.roleName" #roleName>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rol description" [value]="employee.roleDescription" #roleDescription>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Hourly salary" [value]="employee.hourlySalary" #hourlySalary>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Month salary" [value]="employee.monthlySalary" #monthlySalary>
                    </div>

                    <button class="btn btn-primary btn-block">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deleteEmployee(employee._id)">
        Delete
    </button>
</ng-template>