<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            New employee
        </div>
        <div class="card-body">
            <form (submit)="registerEmployee(name, contractTypeName, roleId, roleName, roleDescription, hourlySalary, monthlySalary)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" required #name>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Contract type name" required #contractTypeName>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Role id" required #roleId>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rol name" required #roleName>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rol description" required #roleDescription>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Hourly salary" required #hourlySalary>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Month salary" required #monthlySalary>
                </div>

                <button class="btn btn-primary btn-block">
                    Create
                </button>
            </form>
        </div>
    </div>
</div>
